@import url("breakpoints.scss");
@import url("https://fonts.googleapis.com/css2?family=Afacad:wght@400;700&display=swap");
* {
  font-family: "Afacad", sans-serif;
}

html,
body {
  background-color: #ebebeb;
}

.msg_body_me {
  background-color: rgb(230, 226, 226);
  margin-left: auto;
  border-bottom-right-radius: 0 !important;
}
.msg_body_me .read {
  color: #0077ff;
}

.msg_body_receiver {
  background-color: #29b3f3;
  color: white;
  border-bottom-left-radius: 0 !important;
}
.msg_body_receiver .read {
  color: #f5f5f5;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

/*---------------------------*/
.chat_container {
  position: fixed;
  width: 95%;
  height: 70%;
  left: 2.5%;
  background-color: beige;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 5px 6px;
}

/*---------------------------*/
.chat_list_container {
  border-right: 1px solid rgb(117, 117, 117);
  background-color: beige;
  margin-right: 20px;
  border-radius: 4px;
  width: 25%;
  height: 100%;
}
.chat_list_container .chatlist_header {
  border-bottom: 1px solid rgb(201, 201, 201);
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.chat_list_container .chatlist_header .title {
  font-size: 23px;
  font-weight: bold;
  margin-left: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.chat_list_container .chatlist_header .img_container {
  height: 40px;
  width: 40px;
  margin: auto;
  margin-right: 10px;
  margin-left: auto;
}
.chat_list_container .chatlist_header .img_container img {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(0, 238, 238);
  border-radius: 60%;
}
.chat_list_container .chatlist_body .chatlist_item {
  padding: 2px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}
.chat_list_container .chatlist_body .chatlist_item .chatlist_img_container {
  height: 50px;
  width: 50px;
  margin: auto;
  margin-right: 10px;
  margin-left: auto;
}
.chat_list_container .chatlist_body .chatlist_item .chatlist_img_container img {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(0, 238, 238);
  border-radius: 60%;
}
.chat_list_container .chatlist_body .chatlist_item .chatlist_info {
  padding: 2px 5px;
  width: 80%;
  display: block;
}
.chat_list_container .chatlist_body .chatlist_item .chatlist_info .top_row {
  margin: 3px 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.chat_list_container .chatlist_body .chatlist_item .chatlist_info .top_row .list_username {
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 16px;
  width: 80%;
}
.chat_list_container .chatlist_body .chatlist_item .chatlist_info .top_row .date {
  font-size: 12px;
  margin-left: auto;
  margin-right: 3px;
}
.chat_list_container .chatlist_body .chatlist_item .chatlist_info .bottom_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}
.chat_list_container .chatlist_body .chatlist_item .chatlist_info .bottom_row .message_body {
  width: 80%;
  font-weight: lighter;
  color: rgb(53, 53, 53);
}
.chat_list_container .chatlist_body .chatlist_item .chatlist_info .bottom_row .unread_count {
  margin-left: auto;
  font-size: 12px;
  background-color: gainsboro;
  padding: 5px;
  border-radius: 50%;
  color: rgb(255, 15, 15);
  font-weight: lighter;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

/*---------------------------*/
.chat_box {
  position: relative;
  border-radius: 0px 12px 12px 0px;
  height: 100%;
  width: 75%;
}
.chat_box .chatbox_header {
  width: 100%;
  position: absolute;
  top: 0;
  border-bottom: 1px solid rgb(72, 255, 0);
  border-radius: 0px 12px 0px 0px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.chat_box .chatbox_header .img_container {
  height: 40px;
  width: 40px;
  margin: auto 0;
  margin-left: 4px;
}
.chat_box .chatbox_header .img_container img {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(0, 238, 238);
  border-radius: 60%;
}
.chat_box .chatbox_header .return {
  margin: auto 0;
  font-size: 21px;
  padding: 7px 11px;
  cursor: pointer;
}
.chat_box .chatbox_header .name {
  font-weight: 600;
  margin: auto 10px;
  cursor: pointer;
}
.chat_box .chatbox_header .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: auto 0 auto auto;
  color: #0182f4;
  font-size: 19px;
}
.chat_box .chatbox_header .info .info_item {
  margin: 1px 3px;
  padding: 3px 5px;
  cursor: pointer;
  border-radius: 50%;
  /* Makes it a circle */
  width: 40px;
  /* Set a fixed width */
  height: 40px;
  /* Set a fixed height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  /* Smooth hover effect */
}
.chat_box .chatbox_header .info .info_item:hover {
  background-color: #d3e8fb;
}
.chat_box .chatbox_body {
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
  position: absolute;
  top: 60px;
  height: 87%;
  bottom: 60px;
  overflow-y: auto;
  padding: 11px 11px;
}
.chat_box .chatbox_body .msg_body {
  border-radius: 9px;
  display: block;
  max-width: 80%;
  margin-top: 8px;
  padding: 11px 0px 0px 15px;
}
.chat_box .chatbox_body .msg_body .msg_body_footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}
.chat_box .chatbox_body .msg_body .msg_body_footer .date {
  font-size: 13px;
  padding-right: 7px;
}
.chat_box .chatbox_body .msg_body .msg_body_footer .read i {
  font-size: 21px;
  margin: 2px;
}
.chat_box .chatbox_footer {
  height: 60px;
  width: 100.5%;
  border-top: 1px solid rgb(192, 192, 192);
  position: absolute;
  bottom: 0;
  margin-bottom: -10px;
  margin-left: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: rgb(255, 246, 246);
}
.chat_box .chatbox_footer .custom_form_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  padding: 2px 6px;
}
.chat_box .chatbox_footer .custom_form_group .control {
  padding: 16px;
  margin: auto 0;
  width: 110%;
  height: 40px;
  border: 0;
  outline: 0;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  background-color: rgb(221, 221, 221);
  border-radius: 11px;
}
.chat_box .chatbox_footer .custom_form_group .control::-webkit-input-placeholder {
  font-size: 16px;
}
.chat_box .chatbox_footer .custom_form_group .control::-moz-placeholder {
  font-size: 16px;
}
.chat_box .chatbox_footer .custom_form_group .control:-ms-input-placeholder {
  font-size: 16px;
}
.chat_box .chatbox_footer .custom_form_group .control::-ms-input-placeholder {
  font-size: 16px;
}
.chat_box .chatbox_footer .custom_form_group .control::placeholder {
  font-size: 16px;
}
.chat_box .chatbox_footer .custom_form_group .submit {
  font-size: 17px;
  font-weight: bold;
  padding: 4px 5px;
  color: #29b3f3;
  width: 10%;
}