@import url("breakpoints.scss");
@import url("https://fonts.googleapis.com/css2?family=Afacad:wght@400;700&display=swap");
* {
  font-family: "Afacad", sans-serif;
}

/*---------------------------*/
.chat_container {
  position: fixed;
  width: 95%;
  height: 70%;
  left: 2.5%;
  border: 1px solid gray;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 5px 6px;
}

/*---------------------------*/
.chat_list_container {
  border-right: 1px solid gray;
  border-radius: 12px;
  width: 25%;
  height: 100%;
}
.chat_list_container .chatlist_header {
  border-bottom: 1px solid rgb(201, 201, 201);
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.chat_list_container .chatlist_header .title {
  font-size: 19px;
  font-weight: bold;
  margin-left: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.chat_list_container .chatlist_header .img_container {
  height: 40px;
  width: 40px;
  margin: auto;
  margin-right: 10px;
  margin-left: auto;
}
.chat_list_container .chatlist_header .img_container img {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(0, 238, 238);
  border-radius: 60%;
}
/*---------------------------*/
.chat_box {
  position: relative;
  border-radius: 0px 12px 12px 0px;
  height: 100%;
  width: 75%;
}
.chat_box .chatbox_header {
  position: absolute;
  top: 0;
  border-bottom: 1px solid rgb(72, 255, 0);
  border-radius: 0px 12px 0px 0px;
  height: 60px;
  width: 100%;
}
.chat_box .chatbox_body {
  width: 100%;
  position: absolute;
  top: 60px;
  border-bottom: 1px solid lightblue;
  overflow-y: auto;
}
.chat_box .chatbox_footer {
  height: 60px;
  width: 100%;
  border-top: 1px solid blue;
  border-radius: 0px 0px 12px 0px;
  position: absolute;
  bottom: 0;
}