//imports
@import url('breakpoints.scss');


//chat container
/*---------------------------*/
.chat_container {
    position: fixed;
    width: 95%;
    height: 70%;
    left: 2.5%;
    border: 1px solid gray;
    display: flex;
    flex-wrap: nowrap;
}

//chat list
/*---------------------------*/
.chat_list_container {
    border: 1px solid gray;
    width: 25%;
    height: 100%;

    .chatlist_header {
        border: 1px solid gray;
        height: 60px;

    }

    .chatlist_body {}
}

//chatbox
/*---------------------------*/
.chat_box {

    position: relative;
    border: 1px solid rgb(116, 116, 116);
    height: 100%;
    width: 75%;


    .chatbox_header {
        position: absolute;
        top: 0;
        border: 1px solid gray;
        height: 60px;
        width: 100%;

    }

    .chatbox_body {
        width: 100%;
        position: absolute;
        top: 60px;
        border: 1px solid lightblue;
        overflow-y: auto;
    }

    .chatbox_footer {
        height: 60px;
        width: 100%;
        border: 1px solid blue;
        position: absolute;
        bottom: 0;

    }
}